# Variables de entorno para el backend

# Puerto del servidor
PORT=3000

# URL del frontend (para CORS)
FRONTEND_URL=http://localhost:3000

# MongoDB Atlas
MONGODB_URI=mongodb+srv://usuario:password@cluster.xxxxx.mongodb.net/unacucharitamas?retryWrites=true&w=majority

# Configuración JWT
JWT_SECRET=tu_secreto_jwt_aqui
JWT_EXPIRE=24h

# Entorno
NODE_ENV=development
